html
{
background-color: rgb(218, 197, 185);}

.header {
    text-align: center;
    color: #4a3524;
    font-family: "DM Sans", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    border-color: transparent;
    border-radius: 15px;
    font-size: 35px;
}
@media screen and (max-width: 1100px) {
    .container {
        flex-direction: row;
    }
    .card {
        width: 30%
    }
    .card-header {
        font-size: 30%;
    }
  }
@media screen and (max-width: 800px) {
    .container {
        flex-direction: row;
    }
    .card {
        width: 40%
    }
    .card-header {
        font-size: 75%;
    }
  }
@media screen and (max-width: 600px) {
    .container {
        flex-direction: row;
    }
    .card{
        width: 70%
    }
    .card-header {
        font-size: 50%;
    }
  }
@media screen and (max-width: 400px) {
    .contianer {
        flex-direction: column;
    }
    .card {
        width: 80%
    }
    .card-header {
        font-size: 25%;
    }
  }